/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  /* cursor: pointer; */
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.auth-btn {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}
.auth-btn:hover {
  background-color: #555;
}
